html {
    background-color: #272b33;
    color: white;
}

.contenedor {
    background-color: #3c3e44;
    /* border: 2px solid black; */
    border-radius: 10px;
    width: 550px; /* ancho */
    height: 224px; /* alto */
    display: flex; /* separa divs */
    gap: 10px; /* crea una sangria, ponele :v */
}

img {
    border-radius: 8px;
}

h2 {
    margin-bottom: 0px;
}

p {
    margin-top: 0px;
}


html{
    font-family: "Open Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 200px;
    font-style: normal;
    font-variation-settings:
      "wdth" 100;
  }
